{% extends 'base.html.twig' %}

{% block title %} Bienvenue à vous!{% endblock %}

{% block body %}

<style>
    a { text-decoration: none}
</style>

<h1 class="d-flex justify-content-center mb-5">Bienvenue sur la page d'accueil !</h1>
<div class="d-flex justify-content-between ">
    <div class="row">
        <div>
            <div class="row d-flex justify-content-evenly">
                {% for theme in themes %}
                <div class="card col-md-4">
                    <img class="card-img-top" src="images/uploads/{{ theme.image }}" alt="{{ theme.image }}">
                    <div class="card-body">
                        <h2>{{ theme.description | raw}}</h2>
                        <h5 class="card-title">{{ theme.title | raw }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}



